<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width" />
		<meta name="author" content="Rikard Hallberg" />
		<meta name="description" content="I am a Software Engineer at ABB building applications that are fast, easy-to-use, and do their job." />
		<meta name="robots" content="index, follow" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />

		<title>Rikard Hallberg - Software Engineer</title>
		<link rel="canonical" href="https://www.rikardhallberg.com/" />

		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="apple-mobile-web-app-title" content="rikhall" />
		<meta name="theme-color" content="#0E0813" />
		<link
			rel="preload"
			href="/fonts/Poppins-Bold.woff2"
			as="font"
			type="font/woff2"
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			href="/fonts/Poppins-Regular.woff2"
			as="font"
			type="font/woff2"
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			href="/fonts/Poppins-Medium.woff2"
			as="font"
			type="font/woff2"
			crossorigin="anonymous"
		/>
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.rikardhallberg.com/" />
		<meta property="og:title" content="Rikard Hallberg - Software Engineer" />
		<meta property="og:description" content="I am a Software Engineer at ABB building applications that are fast, easy-to-use, and do their job." />
		<meta property="og:image" content="https://www.rikardhallberg.com/og.jpg" />
		<meta property="og:site_name" content="Rikard Hallberg" />
		<meta property="og:locale" content="en_US" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@rikhall_" />
		<meta name="twitter:creator" content="@rikhall_" />
		<meta name="twitter:title" content="Rikard Hallberg — Software Engineer" />
		<meta name="twitter:description" content="I am a Software Engineer at ABB building applications that are fast, easy-to-use, and do their job." />
		<meta name="twitter:image" content="https://www.rikardhallberg.com/og.jpg" />
		
		<script type="application/ld+json">
		{
		"@context": "https://schema.org",
		"@type": "WebSite",
		"name": "Rikard Hallberg - Software Engineer",
		"url": "https://www.rikardhallberg.com/",
		"alternateName": "Rikard Hallberg Portfolio",
		}
		</script>
	</head>
	<body class="bg-background">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
